<footer class="footer">
	<div class="wrap">
		<div class="header-footer">
			<nav class="nav-footer">
				<ul class="menu-secundario clearfix">
					<li class="list-item fl">
						<span class="logo-branco">Combate</span>
					</li>
					<li class="list-item fl">
						<a href="">Home</a>
					</li>
					<li class="list-item fl">
						<a href="">notícias</a>
					</li>
					<li class="list-item fl">
						<a href="">lutadores</a>
					</li>
					<li class="list-item fl">
						<a href="">Programação: exigência ANCINE</a>
					</li>
					<li class="list-item fl">
						<a href="">sportv</a>
					</li>
					<li class="list-item fl">
						<a href="">grupo globo</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="footer-footer">
		<div class="wrap">
			<div class="menu-footer-globo clearfix">
				<nav class="menu-globo">
					<ul class="sub-menu-globo fl">
						<li class="list-item fl"><a href="">globo.com</a></li>
						<li class="list-item fl"><a href="">g1</a></li>
						<li class="list-item fl"><a href="">globoesporte</a></li>
						<li class="list-item fl"><a href="">gshow</a></li>
						<li class="list-item fl"><a href="">famosos & etc</a></li>
						<li class="list-item fl"><a href="">vídeos</a></li>
					</ul>

					<a href="" class="todos-sites fr">todos os sites</a>
				</nav>
			</div>
			<div class="copyright fl">
				© Copyright 2000-2016 Globo Comunicação e Participações S.A. Política de Privacidade
			</div>
			<div class="principais-links fr">
				<a href="" class="link">central globo.com</a>
				<a href="" class="link">assine a globo.com</a>
				<a href="" class="link">anuncie conosco</a>
			</div>
		</div>
	</div>
</footer>