<header class="header">
	<!-- Barra Topo Menu -->
	<div class="wrap clearfix">
		<div class="box-header-topo">
			<div class="box-menu">
				<i class="ico-menu"></i>
				<span class="menu">Menu</span>
			</div>

			<div class="combate-logo">Combate</div>

			<div class="box-busca">
				<input type="text" class="busca" placeholder="BUSCAR">
			</div>
		</div>
	</div>
</header>