<div class="content" ng-init="home.init()">
	<!-- Carousel -->
	<div class="box-carousel">
		<div class="box-textos">
			<h2 class="assine">Assine o Combate:</h2>
			<span class="alert-live">Lutas ao Vivo</span>
			<span class="texto">Veja todas as lutas do UFC e o melhor do MMA</span>

			<button class="btn-assine" ng-click="home.abrirModal()">Assine Já</button>
		</div>
		<div class="shadow-mobile"></div>
		<div class="owl-slide">
		    <div class="item">
		    	<div class="box-slide">
					<div class="slide">
						<img src="src/img/slide/slide01.jpg" title="" alt="" />
						<span class="shadow"></span>
					</div>
				</div>
		    </div><!-- Fim Item -->

		    <div class="item">
		    	<div class="box-slide">
					<div class="slide">
						<img src="src/img/slide/slide02.jpg" title="" alt="" />
						<span class="shadow"></span>
					</div>
				</div>
		    </div><!-- Fim Item -->

		    <div class="item">
		    	<div class="box-slide">
					<div class="slide">
						<img src="src/img/slide/slide03.jpeg" title="" alt="" />
						<span class="shadow"></span>
					</div>
				</div>
		    </div><!-- Fim Item -->

		    <div class="item">
		    	<div class="box-slide">
					<div class="slide">
						<img src="src/img/slide/slide04.jpg" title="" alt="" />
						<span class="shadow"></span>
					</div>
				</div>
		    </div><!-- Fim Item -->

		    <div class="item">
		    	<div class="box-slide">
					<div class="slide">
						<img src="src/img/slide/slide05.jpg" title="" alt="" />
						<span class="shadow"></span>
					</div>
				</div>
		    </div><!-- Fim Item -->

		    <div class="item">
		    	<div class="box-slide">
					<div class="slide">
						<img src="src/img/slide/slide06.jpg" title="" alt="" />
						<span class="shadow"></span>
					</div>
				</div>
		    </div><!-- Fim Item -->
		</div>
	</div>

	<!-- Descrição do Canal -->
	<div class="wrap">
		<section class="descricao-combate">
			<h2 class="titulo">A maior cobertura do UFC</h2>
			<p>O Combate exibe <strong>ao vivo e na íntegra todas as edições do UFC</strong> com exclusividade, além de uma seleção com mais de 1.000 grandes desafios de MMA. E o que é melhor: quando e onde você quiser, sem custo adicional.</p>
		</section>
	</div>

	<!-- Próximos Eventos -->
	<section class="cards-eventos" ng-controller="eventosController">
		<div class="wrap">
			<h2 class="titulo">Próximos Eventos Exclusivos</h2>
			<span class="shadow-right"></span>
			<div class="owl-slide-eventos">
			    <div class="item" ng-repeat="evento in lista">
			    	<div class="box-slide" data-id="{{evento.id}}">
						<div class="slide">
							<span class="dia-evento">{{evento.diaSemana}} <strong>{{evento.dia}} de {{evento.mes}}</strong></span>
							<figure>
								<img ng-src="{{evento.imagem}}" alt="{{evento.lutador1}} X {{lutador2}}" title="{{evento.lutador1}} X {{evento.lutador2}}" class="card">
								<figcaption>{{evento.tipoLuta}} {{evento.categoria}} <strong>{{evento.lutador1}}<i>x</i>{{evento.lutador2}}</strong></figcaption>
							</figure>
						</div>
					</div>
			    </div><!-- Fim Item -->

			    <!-- <div class="item">
			    	<div class="box-slide">
						<div class="slide">
							<span class="dia-evento">DOM <strong>17 de Janeiro</strong></span>
							<figure>
								<img src="src/img/cards/card02.jpg" alt="" class="card">
								<figcaption>Cinturão Peso Galo <strong>Dillashaw<i>x</i>Cruz</strong></figcaption>
							</figure>
						</div>
					</div>
			    </div> --><!-- Fim Item -->

			    <!-- <div class="item">
			    	<div class="box-slide">
						<div class="slide">
							<span class="dia-evento">DOM <strong>17 de Janeiro</strong></span>
							<figure>
								<img src="src/img/cards/card03.jpg" alt="" class="card">
								<figcaption>Cinturão Peso Galo <strong>Dillashaw<i>x</i>Cruz</strong></figcaption>
							</figure>
						</div>
					</div>
			    </div> --><!-- Fim Item -->

			    <!-- <div class="item">
			    	<div class="box-slide">
						<div class="slide">
							<span class="dia-evento">DOM <strong>17 de Janeiro</strong></span>
							<figure>
								<img src="src/img/cards/card04.jpg" alt="" class="card">
								<figcaption>Cinturão Peso Galo <strong>Dillashaw<i>x</i>Cruz</strong></figcaption>
							</figure>
						</div>
					</div>
			    </div> --><!-- Fim Item -->

			    <!-- <div class="item">
			    	<div class="box-slide">
						<div class="slide">
							<span class="dia-evento">DOM <strong>17 de Janeiro</strong></span>
							<figure>
								<img src="src/img/cards/card05.jpg" alt="" class="card">
								<figcaption>Cinturão Peso Galo <strong>Dillashaw<i>x</i>Cruz</strong></figcaption>
							</figure>
						</div>
					</div>
			    </div> --><!-- Fim Item -->

			    <!-- <div class="item">
			    	<div class="box-slide">
						<div class="slide">
							<span class="dia-evento">DOM <strong>17 de Janeiro</strong></span>
							<figure>
								<img src="src/img/cards/card06.jpg" alt="" class="card">
								<figcaption>Cinturão Peso Galo <strong>Dillashaw<i>x</i>Cruz</strong></figcaption>
							</figure>
						</div>
					</div>
			    </div> --><!-- Fim Item -->

			    <!-- <div class="item">
			    	<div class="box-slide">
						<div class="slide">
							<span class="dia-evento">DOM <strong>17 de Janeiro</strong></span>
							<figure>
								<img src="src/img/cards/card07.jpg" alt="" class="card">
								<figcaption>Cinturão Peso Galo <strong>Dillashaw<i>x</i>Cruz</strong></figcaption>
							</figure>
						</div>
					</div>
			    </div> --><!-- Fim Item -->

			    <!-- <div class="item">
			    	<div class="box-slide">
						<div class="slide">
							<span class="dia-evento">DOM <strong>17 de Janeiro</strong></span>
							<figure>
								<img src="src/img/cards/card08.jpg" alt="" class="card">
								<figcaption>Cinturão Peso Galo <strong>Dillashaw<i>x</i>Cruz</strong></figcaption>
							</figure>
						</div>
					</div>
			    </div> --><!-- Fim Item -->
			</div>
			<button class="btn-assine" ng-click="home.abrirModal()">Assine Já</button>
		</div>
	</section>

	<section class="combat-play clearfix">
		<div class="wrap">
			<div class="box-conheca">
				<figure>
					<img src="src/img/icon-mobile.png" alt="" class="icon-mobile">
				</figure>
				<span class="logo-combate-play"></span>
				<p>Assista ao vivo e reveja as lutas quando quiser.</p>
				<p>Exclusivo para assinantes. <a href="" class="conheca">conheça »</a></p>
			</div>
		</div>
	</section>

	<section class="operadoras clearfix">
		<div class="wrap">
			<h2 class="titulo-operadora">Escolha sua operadora e não perca nenhuma luta!</h2>
			<ul class="lista-operadoras clearfix">
				<li class="list-item">
					<figure>
						<img src="src/img/operadoras/algar.png" alt="" class="operadora">
					</figure>
				</li>
				<li class="list-item">
					<figure>
						<img src="src/img/operadoras/blue.png" alt="" class="operadora">
					</figure>
				</li>
				<li class="list-item">
					<figure>
						<img src="src/img/operadoras/claro.png" alt="" class="operadora">
					</figure>
				</li>
				<li class="list-item">
					<figure>
						<img src="src/img/operadoras/gvt.png" alt="" class="operadora">
					</figure>
				</li>
				<li class="list-item">
					<figure>
						<img src="src/img/operadoras/net.png" alt="" class="operadora">
					</figure>
				</li>
				<li class="list-item">
					<figure>
						<img src="src/img/operadoras/oi.png" alt="" class="operadora">
					</figure>
				</li>
				<li class="list-item">
					<figure>
						<img src="src/img/operadoras/sky.png" alt="" class="operadora">
					</figure>
				</li>
				<li class="list-item">
					<figure>
						<img src="src/img/operadoras/vivo.png" alt="" class="operadora">
					</figure>
				</li>
			</ul>
		</div>
	</section>
</div>