.modal-assine{
	h1{
        @include fontFamily(700, 22px);
        color: #333333;
        height: 40px;
        line-height: 40px;
        text-transform: uppercase;
        @include grid-breakpoint(phone){
            @include fontFamily(700, 18px);
            text-align: center;
        }
    }
	.logo-operadora{
		background: url(../img/operadoras/net.png) left bottom no-repeat;
		border-right: 3px solid #d31b02;
		display: inline-block;
		height: 22px;
		margin-right: 10px;
		position: relative;
		top: 50%;
		transform: translateY(-72%);
		width: 100px;
		@include grid-breakpoint(phone){
			border-right: none;
            display: block;
            margin: 0 auto;
        }
	}
	.lista-opcoes{
		display: block;
		margin-top: 40px;
		.list-item{
			@include fontFamily(400, 18px);
			margin-bottom: 40px;
			a{
				color: #d31b02;
			}
		}
		.seta, .tel, .control{
			background: url(../img/icons.png) no-repeat;
			background-size: 60px;
			display: block;
			float: left;
			margin-right: 10px;
			width: 20px;
			height: 21px;
		}
		.seta{
			background-position: 3px 0px;
		}
		.tel{
			background-position: -41px 0px;
		}
		.control{
			background-position: -19px 0px;
		}
	}
}