.btn{
	@include fontFamily(700, 20px);
	background: $default;
	border: 0;
	color: $branco;
	cursor: pointer;
	padding: 10px 50px;
	text-transform: uppercase;
	transition: all .2s ease;
	&:hover{
		background: #9c0d07;
		transition: all .2s ease;
	}
}
.btn-assine{
	@extend .btn;
	@include fontFamily(900, 24px);
	@include grid-breakpoint(phone){
		@include fontFamily(600, 16px);
		padding: 10px 30px;
	}
}