.box-carousel{
	color: $branco;
	height: 590px;
	overflow: hidden;
	position: relative;
	@include grid-breakpoint(phone, tablet){
		background: url(../img/slide/slide01.jpg) center center no-repeat;
		background-size: cover;
		height: 310px;
	}
	@include grid-breakpoint(phone){
		height: 180px;
	}
	.shadow-mobile{
		background: rgba(0, 0, 0, 0.5);
		display: block;
		height: 180px;
		position: absolute;
		top: 0;
		width: 100%;
		@include grid-breakpoint(phone){
			height: 180px;
		}
		@include grid-breakpoint(tablet){
			height: 310px;
		}
	}

	.owl-slide{
		@include grid-breakpoint(phone, tablet){
			display: none;
		}
	}
	.owl-nav{
		left: 0;
		position: absolute;
		top: 25%;
		width: 100%;
	}
	.owl-next, .owl-prev{
		opacity: 0.7;
		position: relative;
		text-indent: -9999px;
		transition: all .2s ease;
		&:hover{
			opacity: 1.0;
			transition: all .2s ease;
		}
		&:before{
			content:'';
			height: 74px;
			position: absolute;
			top: 0;
			width: 39px;
		}
	}
	.owl-next{
		float: right;
		
		&:before{
			background: url(../img/arows-sprite.png) left center no-repeat;
			background-position: 0px 0px;
			margin-right: 50px;
			right: 0;
		}
	}

	.owl-prev{
		float: left;
		&:before{
			background: url(../img/arows-sprite.png) left center no-repeat;
			background-position: -39px 0px;
			margin-left: 50px;
			left: 0;
		}
	}
	.slide{
		position: relative;
		.shadow{
			background: rgba(0, 0, 0, 0.5);
			display: block;
			height: 590px;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
	.box-textos{
		position: absolute;
		text-transform: uppercase;
		top: 90px;
		left: 280px;
		z-index: 2;
		@include grid-breakpoint(phone, tablet){
			left: 20px;
			top: 20px;
		}
		.btn-assine{
			line-height: 1;
			margin-bottom: 10px;
			@include grid-breakpoint(phone){
				@include fontFamily(900, 18px);
				margin-bottom: 2px;
				width: 70%;
			}
		}
		.alert-live{
			@include fontFamily(600, 21px);
			color: #ffc617;
			display: block;
			@include grid-breakpoint(phone){
				@include fontFamily(600, 14px);
			}
		}
		.texto{
			@include fontFamily(900, 26px);
			display: block;
			line-height: 1.04;
			margin: -6px 0 60px 0;
			width: 225px;
			@include grid-breakpoint(phone){
				@include fontFamily(600, 16px);
					margin: 0px 0 15px 0;
					width: 172px;
			}
		}
	}
}
.cards-eventos{
	.btn-assine{
		display: block;
		margin: 50px auto 0 auto;
		@include grid-breakpoint(phone){
			padding: 15px 30px;
			width: 80%;
		}
	}
	.owl-controls{
		display: none;
	}
	.owl-stage{
		@include grid-breakpoint(phone){
			padding-left: 0 !important;
		}
	}
	.shadow-right{
		@include grid-breakpoint(phone){
			height: 357px;
			position: absolute;
			right: 0;
			top: 96px;
			width: 100px;
			z-index: 2;
			background: rgba(255,255,255,0);
			background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 17%, rgba(250,250,250,0.5) 29%, rgba(250,250,250,0.8) 46%, rgba(250,250,250,0.79) 46%, rgba(250,250,250,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(17%, rgba(255,255,255,0.3)), color-stop(29%, rgba(250,250,250,0.5)), color-stop(46%, rgba(250,250,250,0.8)), color-stop(46%, rgba(250,250,250,0.79)), color-stop(100%, rgba(250,250,250,1)));
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 17%, rgba(250,250,250,0.5) 29%, rgba(250,250,250,0.8) 46%, rgba(250,250,250,0.79) 46%, rgba(250,250,250,1) 100%);
			background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 17%, rgba(250,250,250,0.5) 29%, rgba(250,250,250,0.8) 46%, rgba(250,250,250,0.79) 46%, rgba(250,250,250,1) 100%);
			background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 17%, rgba(250,250,250,0.5) 29%, rgba(250,250,250,0.8) 46%, rgba(250,250,250,0.79) 46%, rgba(250,250,250,1) 100%);
			background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 17%, rgba(250,250,250,0.5) 29%, rgba(250,250,250,0.8) 46%, rgba(250,250,250,0.79) 46%, rgba(250,250,250,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa', GradientType=1 );	
		}
	}
	.dia-evento{
		@include fontFamily(300, 14px);
		display: block;
		height: 25px;
		text-align: center;
	}
	figure{
		figcaption{
			@include fontFamily(400, 12px);
			padding: 5px 0;
			text-align: center;
			text-transform: uppercase;
			@include grid-breakpoint(phone, tablet){
				@include fontFamily(300, 14px);
			}
			strong{
				display: block;
				line-height: 0.8;
				i{
					@include fontFamily(900, 18px);
					color: #d31f05;
					font-style: normal;
					margin: 0 4px;
				}
			}
		}
	}
}