@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

//Variáveis
@mixin fontFamily($fontWeight, $fontSize){
  font-family: $roboto;
  font-size: $fontSize;
  font-weight: $fontWeight;
}
@mixin widthCalc($n1,$op, $n2){
  width: -webkit-calc($n1,$op, $n2);
  width: expression($n1,$op, $n2);
  width: -moz-calc($n1,$op, $n2);
  width: -o-calc($n1,$op, $n2);
  width: calc($n1,$op, $n2);
}

//Componentes
.wrap{
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  @include grid-breakpoint(phone, tablet){
    padding: 0 10px;
  }
}

.fl{
  display: inline;
  float: left;
}
.fr{
  display: inline;
  float: right;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  height: 100%;
}