.content{
	color: $textoDefault;
	.titulo{
		@include fontFamily(700, 24px);
		margin: 20px 0 30px 0;
		text-transform: uppercase;
		text-align: center;
		@include grid-breakpoint(phone, tablet){
			@include fontFamily(700, 20px);
			padding: 0 20px;
		}
	}
	p{
		@include fontFamily(300, 20px);
		display: block;
		margin: 0 auto;
		padding: 0 85px;
		@include grid-breakpoint(phone, tablet){
			@include fontFamily(300, 16px);
			padding: 0 10px;
		}
	}
	//Combat Play
	.combat-play{
		padding: 50px 0;
		figure{
			float: left;
			margin-right: 30px;
			width: 200px;
			@include grid-breakpoint(phone, tablet){
				display: block;
				margin: 0 auto;
				float: none;
				width: 40%;
			}
			@include grid-breakpoint(phone){
				width: 60%;
			}
			img{
				width: 100%;
			}
		}
		.logo-combate-play{
			background: url(../img/logo-combate-play.png) left center no-repeat;
			display: inline-block;
			height: 34px;
			margin: 20px 0;
			width: 350px;
			@include grid-breakpoint(tablet){
				background: url(../img/logo-combate-play.png) 50% center no-repeat;
				width: 100%;
			}
			@include grid-breakpoint(phone){
				background: url(../img/logo-combate-play.png) 50% center no-repeat;
				background-size: 90%;
				width: 100%;
			}
		}
		p{
			@include fontFamily(900, 14px);
			color: #333333;
			text-transform: uppercase;
			@include grid-breakpoint(phone, tablet){
				@include fontFamily(900, 15px);
				text-align: center;
			}
			a{
				@include fontFamily(700, 14px);
				color: #d32127;
			}
		}
	}
	//Operadoras
	.operadoras{
		background: #f3f3f3;
		padding: 20px;
		text-align: center;
		@include grid-breakpoint(phone){
			padding: 20px 10px;
		}
		.titulo-operadora{
			@include fontFamily(500, 18px);
		}
		.lista-operadoras{
			margin-top: 30px;
			padding-top: 20px;
		}
		.list-item{
			display: block;
			float: left;
			width: 12.5%;
			@include grid-breakpoint(phone, tablet){
				height: 60px;
				width: 25%;
			}
			@include grid-breakpoint(phone){
				width: 33.3%;
			}
			figure{
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}