.footer{
	background: #494949;
	color: $branco;
	a{
		color: $branco;
		&:hover{
			text-decoration: underline;
		}
	}
	.header-footer{
		height: 150px;
		@include grid-breakpoint(phone, tablet){
			display: none;
		}
		.nav-footer{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			.list-item{
				@include fontFamily(400, 16px);
				height: 60px;
				line-height: 60px;
				margin-left: 30px;
				&:first-child{
					border-right: 1px solid #525252;
					margin-left: 0;
					padding-right: 30px;
				}
			}
			.logo-branco{
				background: url(../img/logo_combate_branco.png) center center no-repeat;
				display: block;
				height: 31px;
				position: relative;
				text-indent: -9999px;
				top: 50%;
				transform: translateY(-50%);
				width: 157px;
			}
		}
	}
	.footer-footer{
		background: #404040;
		height: 85px;
		.menu-footer-globo{
			@include fontFamily(700, 14px);
			border-bottom: 1px solid #525252;
			margin-bottom: 8px;
			@include grid-breakpoint(phone){
				font-size: 10px;
			}
			.sub-menu-globo{
				padding: 12px 0 10px 0;
			}
			.list-item{
				border-left: 1px solid #525252;
				padding: 0 10px 0 11px;
				@include grid-breakpoint(phone){
				    padding: 0 4px 0 4px;
				}
				&:first-child{
					@include fontFamily(500, 20px);
					border-left: none;
					@include grid-breakpoint(phone){
						font-size: 10px;
					}
				}
			}
		}
		.todos-sites{
			margin-top: 15px;
			@include grid-breakpoint(phone, tablet){
				display: none;
			}
		}
		.copyright{
			@include fontFamily(500, 13px);
			height: 30px;
			line-height: 30px;
			@include grid-breakpoint(phone){
				line-height: 1.5;
				text-align: center;
			}
		}
		.principais-links{
			@include fontFamily(500, 13px);
			height: 30px;
			line-height: 30px;
			@include grid-breakpoint(phone, tablet){
				display: none;
			}
			.link{
				border-left: 1px solid #525252;
				padding: 0 10px;
				&:first-child{
					border-left: 0;
				}
			}
		}
	}
}