.header {
  background-color: $default;
  color: $branco;
  height: 72px;
  line-height: 72px;
  @include grid-breakpoint(phone, tablet){
    height: 50px;
    line-height: 50px;
  }
  .box-menu, .combate-logo, .box-busca{
    float: left;
    width: 33%;
  }
  .menu{
    @include fontFamily(600, 14px);
    cursor: pointer;
    float: left;
    margin-left: 10px;
    text-transform: uppercase;
  }
  .ico-menu{
    background: url(../img/icons-sprite.png) left center no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
    float: left;
    margin-top: 25px;
    height: 24px;
    width: 24px;
    @include grid-breakpoint(phone, tablet){
      margin-top: 13px;
    }
  }
  .combate-logo{
    @include fontFamily(900, 30px);
    text-align: center;
    text-transform: uppercase;
    @include grid-breakpoint(phone, tablet){
      @include fontFamily(900, 20px);
    }
  }
  .box-busca{
    height: 72px;
    line-height: 72px;
    @include grid-breakpoint(phone, tablet){
      height: 50px;
      line-height: 50px;
    }
  	.busca{
      @include fontFamily(900, 14px);
      background: url(../img/icons-sprite.png) center center no-repeat;
      background-position: 5px -20px;
      background-size: 22px;
      box-shadow: inset 0 1px 0 0 #8f0b04;
      border-top-color: #8f0b04;
      border-right-color: #a70d05;
      border-bottom-color: #d91107;
      border-left-color: #980c05;
      background-color: #8f0b04;
      border: none;
      border-radius: 4px;
      color: $branco;
      display: block;
      height: 35px;
      line-height: 35px;
      margin: 20px auto 0 auto;
      padding-left: 30px;
      transition: all .2s ease;
      width: 160px;
      @include grid-breakpoint(phone, tablet){
        background-color: $default;
        box-shadow: none;
        margin: 6px 0 0 75px;
        pointer-events: none;
        width: 30px;
      }
      &:focus{
        background: url(../img/icons-sprite.png) center center no-repeat $branco;
        background-position: 5px -50px;
        background-size: 22px;
        transition: all .2s ease;
        width: 220px;
      }
    }
  }
}