#modal{
    display: block;
    height: 0;
    opacity: 0;
    transition: opacity 0.4s;
    &:before{
        background: rgba(0,0,0,0.7);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    &:target{
        height: auto;
        opacity: 1;
        pointer-events: auto;
    }
    .content{
        background: $branco;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
        box-sizing: border-box;
        height:90%;
        left:50%;
        max-width: 900px;
        min-height: 350px;
        padding:20px;
        position:absolute;
        top:50%;
        transform: translate(-50%, -50%);
        width:90%;
        z-index: 1001;
        .close{
            background: url(../img/icon-fechar.png) center center no-repeat;
            background-size: 18px;
            cursor: pointer;
            height: 30px;
            display: block;
            position: absolute;
            right: 30px;
            text-indent: -9999px;
            top: 20px;
            width: 30px;
            @include grid-breakpoint(phone){
                right: 5px;
                top: 5px;
            }
        }
    }
}