*{
	outline: none;
}
*, body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
input:-webkit-autofill{    
  -webkit-box-shadow: 0 0 0px 1000px #f9fbfd inset !important;
  -webkit-text-fill-color: #333333 !important;
  -webkit-background-color: transparent !important;
}