@import "reset";
@import "grid";
@import "variaveis";
@import "components";
@import "botoes";
@import "http://s.glbimg.com/gl/ba/css/barra-globocom.min.css";
@import "owl-carousel";
@import "header";
@import "footer";
@import "content";
@import "carousel";
@import "modal";
@import "assine";

.barra-globocom{
	padding: 0 20px;
	@include grid-breakpoint(phone, tablet){
		padding: 0;
	}
	@include grid-breakpoint(desktop-large){
		padding: 0 100px;
	}
	.wrap{
		margin: 0 auto !important;
	}
}