@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import "http://s.glbimg.com/gl/ba/css/barra-globocom.min.css";
* {
  outline: none; }

*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f9fbfd inset !important;
  -webkit-text-fill-color: #333333 !important;
  -webkit-background-color: transparent !important; }

.wrap {
  margin: 0 auto;
  max-width: 940px;
  position: relative; }
  @media only screen and (max-width: 480px) {
    .wrap {
      padding: 0 10px; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .wrap {
      padding: 0 10px; } }

.fl {
  display: inline;
  float: left; }

.fr {
  display: inline;
  float: right; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  height: 100%; }

.btn, .btn-assine {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  background: #c00f07;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 50px;
  text-transform: uppercase;
  transition: all .2s ease; }
  .btn:hover, .btn-assine:hover {
    background: #9c0d07;
    transition: all .2s ease; }

.btn-assine {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900; }
  @media only screen and (max-width: 480px) {
    .btn-assine {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 30px; } }

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel .owl-refresh .owl-item {
  display: none; }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img {
  transform-style: preserve-3d; }

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1; }

.header {
  background-color: #c00f07;
  color: #ffffff;
  height: 72px;
  line-height: 72px; }
  @media only screen and (max-width: 480px) {
    .header {
      height: 50px;
      line-height: 50px; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .header {
      height: 50px;
      line-height: 50px; } }
  .header .box-menu, .header .combate-logo, .header .box-busca {
    float: left;
    width: 33%; }
  .header .menu {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    float: left;
    margin-left: 10px;
    text-transform: uppercase; }
  .header .ico-menu {
    background: url(../img/icons-sprite.png) left center no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
    float: left;
    margin-top: 25px;
    height: 24px;
    width: 24px; }
    @media only screen and (max-width: 480px) {
      .header .ico-menu {
        margin-top: 13px; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .header .ico-menu {
        margin-top: 13px; } }
  .header .combate-logo {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase; }
    @media only screen and (max-width: 480px) {
      .header .combate-logo {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 900; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .header .combate-logo {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 900; } }
  .header .box-busca {
    height: 72px;
    line-height: 72px; }
    @media only screen and (max-width: 480px) {
      .header .box-busca {
        height: 50px;
        line-height: 50px; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .header .box-busca {
        height: 50px;
        line-height: 50px; } }
    .header .box-busca .busca {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 900;
      background: url(../img/icons-sprite.png) center center no-repeat;
      background-position: 5px -20px;
      background-size: 22px;
      box-shadow: inset 0 1px 0 0 #8f0b04;
      border-top-color: #8f0b04;
      border-right-color: #a70d05;
      border-bottom-color: #d91107;
      border-left-color: #980c05;
      background-color: #8f0b04;
      border: none;
      border-radius: 4px;
      color: #ffffff;
      display: block;
      height: 35px;
      line-height: 35px;
      margin: 20px auto 0 auto;
      padding-left: 30px;
      transition: all .2s ease;
      width: 160px; }
      @media only screen and (max-width: 480px) {
        .header .box-busca .busca {
          background-color: #c00f07;
          box-shadow: none;
          margin: 6px 0 0 75px;
          pointer-events: none;
          width: 30px; } }
      @media only screen and (min-width: 481px) and (max-width: 768px) {
        .header .box-busca .busca {
          background-color: #c00f07;
          box-shadow: none;
          margin: 6px 0 0 75px;
          pointer-events: none;
          width: 30px; } }
      .header .box-busca .busca:focus {
        background: url(../img/icons-sprite.png) center center no-repeat #ffffff;
        background-position: 5px -50px;
        background-size: 22px;
        transition: all .2s ease;
        width: 220px; }

.footer {
  background: #494949;
  color: #ffffff; }
  .footer a {
    color: #ffffff; }
    .footer a:hover {
      text-decoration: underline; }
  .footer .header-footer {
    height: 150px; }
    @media only screen and (max-width: 480px) {
      .footer .header-footer {
        display: none; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .footer .header-footer {
        display: none; } }
    .footer .header-footer .nav-footer {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .footer .header-footer .nav-footer .list-item {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        height: 60px;
        line-height: 60px;
        margin-left: 30px; }
        .footer .header-footer .nav-footer .list-item:first-child {
          border-right: 1px solid #525252;
          margin-left: 0;
          padding-right: 30px; }
      .footer .header-footer .nav-footer .logo-branco {
        background: url(../img/logo_combate_branco.png) center center no-repeat;
        display: block;
        height: 31px;
        position: relative;
        text-indent: -9999px;
        top: 50%;
        transform: translateY(-50%);
        width: 157px; }
  .footer .footer-footer {
    background: #404040;
    height: 85px; }
    .footer .footer-footer .menu-footer-globo {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 700;
      border-bottom: 1px solid #525252;
      margin-bottom: 8px; }
      @media only screen and (max-width: 480px) {
        .footer .footer-footer .menu-footer-globo {
          font-size: 10px; } }
      .footer .footer-footer .menu-footer-globo .sub-menu-globo {
        padding: 12px 0 10px 0; }
      .footer .footer-footer .menu-footer-globo .list-item {
        border-left: 1px solid #525252;
        padding: 0 10px 0 11px; }
        @media only screen and (max-width: 480px) {
          .footer .footer-footer .menu-footer-globo .list-item {
            padding: 0 4px 0 4px; } }
        .footer .footer-footer .menu-footer-globo .list-item:first-child {
          font-family: "Roboto", sans-serif;
          font-size: 20px;
          font-weight: 500;
          border-left: none; }
          @media only screen and (max-width: 480px) {
            .footer .footer-footer .menu-footer-globo .list-item:first-child {
              font-size: 10px; } }
    .footer .footer-footer .todos-sites {
      margin-top: 15px; }
      @media only screen and (max-width: 480px) {
        .footer .footer-footer .todos-sites {
          display: none; } }
      @media only screen and (min-width: 481px) and (max-width: 768px) {
        .footer .footer-footer .todos-sites {
          display: none; } }
    .footer .footer-footer .copyright {
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      font-weight: 500;
      height: 30px;
      line-height: 30px; }
      @media only screen and (max-width: 480px) {
        .footer .footer-footer .copyright {
          line-height: 1.5;
          text-align: center; } }
    .footer .footer-footer .principais-links {
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      font-weight: 500;
      height: 30px;
      line-height: 30px; }
      @media only screen and (max-width: 480px) {
        .footer .footer-footer .principais-links {
          display: none; } }
      @media only screen and (min-width: 481px) and (max-width: 768px) {
        .footer .footer-footer .principais-links {
          display: none; } }
      .footer .footer-footer .principais-links .link {
        border-left: 1px solid #525252;
        padding: 0 10px; }
        .footer .footer-footer .principais-links .link:first-child {
          border-left: 0; }

.content {
  color: #3c3c3b; }
  .content .titulo {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0 30px 0;
    text-transform: uppercase;
    text-align: center; }
    @media only screen and (max-width: 480px) {
      .content .titulo {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 700;
        padding: 0 20px; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .content .titulo {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 700;
        padding: 0 20px; } }
  .content p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    display: block;
    margin: 0 auto;
    padding: 0 85px; }
    @media only screen and (max-width: 480px) {
      .content p {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 300;
        padding: 0 10px; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .content p {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 300;
        padding: 0 10px; } }
  .content .combat-play {
    padding: 50px 0; }
    .content .combat-play figure {
      float: left;
      margin-right: 30px;
      width: 200px; }
      @media only screen and (max-width: 480px) {
        .content .combat-play figure {
          display: block;
          margin: 0 auto;
          float: none;
          width: 40%; } }
      @media only screen and (min-width: 481px) and (max-width: 768px) {
        .content .combat-play figure {
          display: block;
          margin: 0 auto;
          float: none;
          width: 40%; } }
      @media only screen and (max-width: 480px) {
        .content .combat-play figure {
          width: 60%; } }
      .content .combat-play figure img {
        width: 100%; }
    .content .combat-play .logo-combate-play {
      background: url(../img/logo-combate-play.png) left center no-repeat;
      display: inline-block;
      height: 34px;
      margin: 20px 0;
      width: 350px; }
      @media only screen and (min-width: 481px) and (max-width: 768px) {
        .content .combat-play .logo-combate-play {
          background: url(../img/logo-combate-play.png) 50% center no-repeat;
          width: 100%; } }
      @media only screen and (max-width: 480px) {
        .content .combat-play .logo-combate-play {
          background: url(../img/logo-combate-play.png) 50% center no-repeat;
          background-size: 90%;
          width: 100%; } }
    .content .combat-play p {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 900;
      color: #333333;
      text-transform: uppercase; }
      @media only screen and (max-width: 480px) {
        .content .combat-play p {
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          font-weight: 900;
          text-align: center; } }
      @media only screen and (min-width: 481px) and (max-width: 768px) {
        .content .combat-play p {
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          font-weight: 900;
          text-align: center; } }
      .content .combat-play p a {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #d32127; }
  .content .operadoras {
    background: #f3f3f3;
    padding: 20px;
    text-align: center; }
    @media only screen and (max-width: 480px) {
      .content .operadoras {
        padding: 20px 10px; } }
    .content .operadoras .titulo-operadora {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 500; }
    .content .operadoras .lista-operadoras {
      margin-top: 30px;
      padding-top: 20px; }
    .content .operadoras .list-item {
      display: block;
      float: left;
      width: 12.5%; }
      @media only screen and (max-width: 480px) {
        .content .operadoras .list-item {
          height: 60px;
          width: 25%; } }
      @media only screen and (min-width: 481px) and (max-width: 768px) {
        .content .operadoras .list-item {
          height: 60px;
          width: 25%; } }
      @media only screen and (max-width: 480px) {
        .content .operadoras .list-item {
          width: 33.3%; } }
      .content .operadoras .list-item figure {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }

.box-carousel {
  color: #ffffff;
  height: 590px;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 480px) {
    .box-carousel {
      background: url(../img/slide/slide01.jpg) center center no-repeat;
      background-size: cover;
      height: 310px; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .box-carousel {
      background: url(../img/slide/slide01.jpg) center center no-repeat;
      background-size: cover;
      height: 310px; } }
  @media only screen and (max-width: 480px) {
    .box-carousel {
      height: 180px; } }
  .box-carousel .shadow-mobile {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    height: 180px;
    position: absolute;
    top: 0;
    width: 100%; }
    @media only screen and (max-width: 480px) {
      .box-carousel .shadow-mobile {
        height: 180px; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .box-carousel .shadow-mobile {
        height: 310px; } }
  @media only screen and (max-width: 480px) {
    .box-carousel .owl-slide {
      display: none; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .box-carousel .owl-slide {
      display: none; } }
  .box-carousel .owl-nav {
    left: 0;
    position: absolute;
    top: 25%;
    width: 100%; }
  .box-carousel .owl-next, .box-carousel .owl-prev {
    opacity: 0.7;
    position: relative;
    text-indent: -9999px;
    transition: all .2s ease; }
    .box-carousel .owl-next:hover, .box-carousel .owl-prev:hover {
      opacity: 1.0;
      transition: all .2s ease; }
    .box-carousel .owl-next:before, .box-carousel .owl-prev:before {
      content: '';
      height: 74px;
      position: absolute;
      top: 0;
      width: 39px; }
  .box-carousel .owl-next {
    float: right; }
    .box-carousel .owl-next:before {
      background: url(../img/arows-sprite.png) left center no-repeat;
      background-position: 0px 0px;
      margin-right: 50px;
      right: 0; }
  .box-carousel .owl-prev {
    float: left; }
    .box-carousel .owl-prev:before {
      background: url(../img/arows-sprite.png) left center no-repeat;
      background-position: -39px 0px;
      margin-left: 50px;
      left: 0; }
  .box-carousel .slide {
    position: relative; }
    .box-carousel .slide .shadow {
      background: rgba(0, 0, 0, 0.5);
      display: block;
      height: 590px;
      position: absolute;
      top: 0;
      width: 100%; }
  .box-carousel .box-textos {
    position: absolute;
    text-transform: uppercase;
    top: 90px;
    left: 280px;
    z-index: 2; }
    @media only screen and (max-width: 480px) {
      .box-carousel .box-textos {
        left: 20px;
        top: 20px; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .box-carousel .box-textos {
        left: 20px;
        top: 20px; } }
    .box-carousel .box-textos .btn-assine {
      line-height: 1;
      margin-bottom: 10px; }
      @media only screen and (max-width: 480px) {
        .box-carousel .box-textos .btn-assine {
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          font-weight: 900;
          margin-bottom: 2px;
          width: 70%; } }
    .box-carousel .box-textos .alert-live {
      font-family: "Roboto", sans-serif;
      font-size: 21px;
      font-weight: 600;
      color: #ffc617;
      display: block; }
      @media only screen and (max-width: 480px) {
        .box-carousel .box-textos .alert-live {
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 600; } }
    .box-carousel .box-textos .texto {
      font-family: "Roboto", sans-serif;
      font-size: 26px;
      font-weight: 900;
      display: block;
      line-height: 1.04;
      margin: -6px 0 60px 0;
      width: 225px; }
      @media only screen and (max-width: 480px) {
        .box-carousel .box-textos .texto {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 600;
          margin: 0px 0 15px 0;
          width: 172px; } }

.cards-eventos .btn-assine {
  display: block;
  margin: 50px auto 0 auto; }
  @media only screen and (max-width: 480px) {
    .cards-eventos .btn-assine {
      padding: 15px 30px;
      width: 80%; } }

.cards-eventos .owl-controls {
  display: none; }

@media only screen and (max-width: 480px) {
  .cards-eventos .owl-stage {
    padding-left: 0 !important; } }

@media only screen and (max-width: 480px) {
  .cards-eventos .shadow-right {
    height: 357px;
    position: absolute;
    right: 0;
    top: 96px;
    width: 100px;
    z-index: 2;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 17%, rgba(250, 250, 250, 0.5) 29%, rgba(250, 250, 250, 0.8) 46%, rgba(250, 250, 250, 0.79) 46%, #fafafa 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(17%, rgba(255, 255, 255, 0.3)), color-stop(29%, rgba(250, 250, 250, 0.5)), color-stop(46%, rgba(250, 250, 250, 0.8)), color-stop(46%, rgba(250, 250, 250, 0.79)), color-stop(100%, #fafafa));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 17%, rgba(250, 250, 250, 0.5) 29%, rgba(250, 250, 250, 0.8) 46%, rgba(250, 250, 250, 0.79) 46%, #fafafa 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 17%, rgba(250, 250, 250, 0.5) 29%, rgba(250, 250, 250, 0.8) 46%, rgba(250, 250, 250, 0.79) 46%, #fafafa 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 17%, rgba(250, 250, 250, 0.5) 29%, rgba(250, 250, 250, 0.8) 46%, rgba(250, 250, 250, 0.79) 46%, #fafafa 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 17%, rgba(250, 250, 250, 0.5) 29%, rgba(250, 250, 250, 0.8) 46%, rgba(250, 250, 250, 0.79) 46%, #fafafa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa', GradientType=1 ); } }

.cards-eventos .dia-evento {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  display: block;
  height: 25px;
  text-align: center; }

.cards-eventos figure figcaption {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase; }
  @media only screen and (max-width: 480px) {
    .cards-eventos figure figcaption {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 300; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .cards-eventos figure figcaption {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 300; } }
  .cards-eventos figure figcaption strong {
    display: block;
    line-height: 0.8; }
    .cards-eventos figure figcaption strong i {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 900;
      color: #d31f05;
      font-style: normal;
      margin: 0 4px; }

#modal {
  display: block;
  height: 0;
  opacity: 0;
  transition: opacity 0.4s; }
  #modal:before {
    background: rgba(0, 0, 0, 0.7);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; }
  #modal:target {
    height: auto;
    opacity: 1;
    pointer-events: auto; }
  #modal .content {
    background: #ffffff;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    height: 90%;
    left: 50%;
    max-width: 900px;
    min-height: 350px;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 1001; }
    #modal .content .close {
      background: url(../img/icon-fechar.png) center center no-repeat;
      background-size: 18px;
      cursor: pointer;
      height: 30px;
      display: block;
      position: absolute;
      right: 30px;
      text-indent: -9999px;
      top: 20px;
      width: 30px; }
      @media only screen and (max-width: 480px) {
        #modal .content .close {
          right: 5px;
          top: 5px; } }

.modal-assine h1 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #333333;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase; }
  @media only screen and (max-width: 480px) {
    .modal-assine h1 {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-align: center; } }

.modal-assine .logo-operadora {
  background: url(../img/operadoras/net.png) left bottom no-repeat;
  border-right: 3px solid #d31b02;
  display: inline-block;
  height: 22px;
  margin-right: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-72%);
  width: 100px; }
  @media only screen and (max-width: 480px) {
    .modal-assine .logo-operadora {
      border-right: none;
      display: block;
      margin: 0 auto; } }

.modal-assine .lista-opcoes {
  display: block;
  margin-top: 40px; }
  .modal-assine .lista-opcoes .list-item {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px; }
    .modal-assine .lista-opcoes .list-item a {
      color: #d31b02; }
  .modal-assine .lista-opcoes .seta, .modal-assine .lista-opcoes .tel, .modal-assine .lista-opcoes .control {
    background: url(../img/icons.png) no-repeat;
    background-size: 60px;
    display: block;
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 21px; }
  .modal-assine .lista-opcoes .seta {
    background-position: 3px 0px; }
  .modal-assine .lista-opcoes .tel {
    background-position: -41px 0px; }
  .modal-assine .lista-opcoes .control {
    background-position: -19px 0px; }

.barra-globocom {
  padding: 0 20px; }
  @media only screen and (max-width: 480px) {
    .barra-globocom {
      padding: 0; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .barra-globocom {
      padding: 0; } }
  @media only screen and (min-width: 1350px) {
    .barra-globocom {
      padding: 0 100px; } }
  .barra-globocom .wrap {
    margin: 0 auto !important; }
