<div class="modal-assine">
	<header>
		<h1><span class="logo-operadora"></span> Veja como assinar</h1> 
	</header>

	<ul class="lista-opcoes">
		<li class="list-item"><span class="seta"></span> <a href="http://www.netcombotv.com.br/index.php?gclid=COLJj_6on84CFUqBkQodznYGOg&key=assine-net&s_kwcid=AL!608!3!69913706330!p!!g!!assine%20net&ef_id=Vvyj1gAAAD3IZXIZ:20160801035448:s" target="_blank">Assine pelo site »</a></li>
		<li class="list-item"><span class="tel"></span> Ligue para 4004-8844 (capitais) ou 0800-7760-800 (demais localidades).</li>
		<li class="list-item"><span class="control"></span> Acesse a grade de programação do NET NOW, selecione o evento Combate e clique em comprar.</li>
	</ul>
	<a class="close" ng-click="assine.fechaModal()" alt="Fechar" title="Fechar">X</a>
</div>